html, body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

body {
    background-image: url('/img/background.png');
    background-attachment: fixed;
  	background-position: top; 
    background-repeat: no-repeat;
}

ol, ul {
	line-height: 200%;
}

.site-title {
	color: #eee !important;
	font-size: 5rem !important;
	font-weight: bolder;
	font-family: 'Brush Script MT', cursive;
	line-height: 80% !important;
}

.recipe-title {
	font-size: 4rem;
	font-weight: bold;	
	font-family: 'Brush Script MT', cursive;	
	color: #ee6002;
	line-height: 80% !important;
	margin-top: 2rem;
}

.content {
    font-size: 2rem;
    color: #ccc;
}

.content h1 {
	font-size: 3rem;
	font-weight: bold;	
	font-family: 'Brush Script MT', cursive;	
	color: #222;
    text-align: center;
	background-color: rgba(251,140,0,.8);
	padding: 1rem;	
	margin-bottom: 1rem;
	margin-top: 8rem;
	line-height: 80% !important;
}

.recipe-content h1:first-of-type {
	margin-top: 4rem !important;
}

.recipe-content h2 {
	color: rgb(251,140,0) !important;
}


.recipe-list h1:first-of-type {
	margin-top: 4rem !important;	
}

.content h2 {
	font-size: 2.5rem;
    text-align: center;
    color: #222;
	background-color: rgba(194,94,0,.6);
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 6rem;
	line-height: 80% !important;
}

.recipe-list h2 {
	font-weight: bold;
	font-family: 'Brush Script MT', cursive;	
}

.content a {
	font-size: 3rem;
	font-family: 'Brush Script MT', cursive;	
    text-decoration: none;
    text-align: center;	    
	padding: 1rem;
	color: #eee;
	margin-bottom: 1rem;
	margin-top: 6rem;
	line-height: 80% !important;
}

.recipe-content h2 {
	padding: 0;
	text-align: left;
	background-color: transparent;
	line-height: 80% !important;	
}

.recipe-content img {
	display: block;
	margin-top: 4rem;
	margin-bottom: 8rem;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 1px solid white;
}
