html, body {
	background-color: #ddd;
}

.container {
	background-color: #eee;
}

a {
    text-decoration: none;
}

.recipe-name {
	font-size: 3rem;
	color: #ee6002;
}

.content h1 {
    margin-top: 4rem;
    color: #7952b3;
    text-decoration: underline;
}

.content h2 {
    margin-top: 1.5rem;
    color: #dd0074;
}

.jumbotron {
    margin-top: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    background-image: url('/img/header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotext {
    color: white;    
    font-size: 4rem;
}

.content {
    font-size: 1.5rem;
}
