{% raw %}
\documentclass[notitlepage,12pt]{report}
{% endraw %}
\title{ {{ page_title }}\vspace{-1em} }
{% if omit_date | default(True) %}
\date{}
{% endif %}
{% raw %}
\usepackage{titling}
\pretitle{\begin{center}\Huge\bfseries}
\posttitle{\par\end{center}}
\usepackage{nopageno}
\usepackage[top=0.5in,bottom=0.5in,left=1in,right=1in]{geometry}
\usepackage{bookmark}
\usepackage{enumitem}
\providecommand{\tightlist}{%
  \setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}
\begin{document}
\maketitle
{% endraw %}

{% if page_preamble %}
\begin{center}
{{ page_preamble }}
\end{center}
{% endif %}

{% if page_left and page_right %}
{% raw %}
\begin{minipage}[t]{0.4\textwidth}\vspace{0pt}
{% endraw %}

{{ page_left }}

{% raw %}
\end{minipage}%
\hfill

\begin{minipage}[t]{0.6\textwidth}\vspace{0pt}
{% endraw %}

{{ page_right }}

{% raw %}
\end{minipage}%
{% endraw %}
{% endif %}

\end{document}
