{% raw %}
\documentclass[notitlepage,12pt]{report}
\title{ {{ recipe.title }} }
\date{}
\usepackage{titling}
\pretitle{\begin{center}\Huge\bfseries}
\posttitle{\par\end{center}}
\usepackage{nopageno}
\usepackage[top=0.5in,bottom=0.5in,left=1in,right=1in]{geometry}
\usepackage{bookmark}
\usepackage{enumitem}
\providecommand{\tightlist}{%
  \setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}
\begin{document}
\maketitle
{% endraw %}

{{ recipe.preamble }}

{% raw %}
\begin{minipage}[t]{0.4\textwidth}\vspace{0pt}
{% endraw %}

{{ recipe.ingredients }}

{% raw %}
\end{minipage}%
\hfill
\begin{minipage}[t]{0.6\textwidth}\vspace{0pt}
{% endraw %}

{{ recipe.directions }}

{% raw %}
\end{minipage}%
\end{document}
{% endraw %}
