<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>

        	<v-row>
        		<v-col cols="12">
		        	<v-card elevation="8">
		        	  <v-card-title class="text-h2 font-weight-bold">{{ recipe.title }}</v-card-title>		        	  
									<template v-for="section in recipe.sections">
                    <v-card-text v-for="(sectionItems, sectionName) in section">
                        {{ sectionName }}
	                      <li v-for="item in sectionItems" class="text-h4">
	                        {{ item }}
	                      </li>
	                  </v-card-text>
									</template>		        	  
		        	</v-card>
		        </v-col>
		      </v-row>
        		      
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
        	recipes: [],
        	recipe: null,
        	recipeKey: null,
          imgDir: "img/",
        }
      },
      computed: {},
      methods: {
      	loadRecipe: function() {
      		for (const category of this.recipes) {
      		  for (const recipe of category.recipes) {      			
	      			if (this.recipeKey === recipe.key) {
	      				this.recipe = recipe;
	      				return;
	      			}
	      		}
      		}
      	}
      },
      mounted() {     
       var url = new URL(window.location.href);
       var r = url.searchParams.get("r");
       this.recipeKey = r;
       axios
         .get("/recipes.json")
         .then(response => {
           this.recipes = response.data;
           this.loadRecipe();
         });       
      },
    })
  </script>
</body>
</html>
